# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:
- Practice your SQL knowledge


## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
conn = sqlite3.Connection('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, and address for all customers in California with a credit limit greater than 25000.00.

In [13]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactFirstName, contactLastName, phone, addressLine1, creditLimit
                    FROM customers
                    WHERE creditLimit > 25000
                    AND state = 'California""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,creditLimit
0,Carine,Schmitt,40.32.2555,"54, rue Royale",21000.00
1,Jean,King,7025551838,8489 Strong St.,71800.00
2,Peter,Ferguson,03 9520 4555,636 St Kilda Road,117300.00
3,Janine,Labrune,40.67.8555,"67, rue des Cinquante Otages",118200.00
4,Jonas,Bergulfsen,07-98 9555,Erling Skakkes gate 78,81700.00
5,Susan,Nelson,4155551450,5677 Strong St.,210500.00
6,Zbyszek,Piestrzeniewicz,(26) 642-7555,ul. Filtrowa 68,0.00
7,Roland,Keitel,+49 69 66 90 2555,Lyonerstr. 34,59700.00
8,Julie,Murphy,6505555787,5557 North Pendale Street,64600.00
9,Kwai,Lee,2125557818,897 Long Airport Avenue,114900.00
10,Diego,Freyre,(91) 555 94 44,"C/ Moralzarzal, 86",227600.00
11,Christina,Berglund,0921-12 3555,Berguvsvägen 8,53100.00
12,Jytte,Petersen,31 12 3555,Vinbæltet 34,83400.00
13,Mary,Saveley,78.32.5555,"2, rue du Commerce",123900.00
14,Eric,Natividad,+65 221 7555,Bronz Sok.,103800.00
15,Jeff,Young,2125557413,4092 Furth Circle,138500.00
16,Kelvin,Leong,2155551555,7586 Pompton St.,100600.00
17,Juri,Hashimoto,6505556809,9408 Furth Circle,84600.00
18,Wendy,Victorino,+65 224 1555,106 Linden Road Sandown,97900.00
19,Veysel,Oeztan,+47 2267 3215,Brehmen St. 121,96800.00
20,Keith,Franco,2035557845,149 Spinnaker Dr.,0.00
21,Isabel,de Castro,(1) 356-5555,Estrada da saúde n. 58,0.00
22,Martine,Rancé,20.16.1555,"184, chaussée de Tournai",82900.00
23,Marie,Bertrand,(1) 42.34.2555,"265, boulevard Charonne",84300.00
24,Jerry,Tseng,6175555555,4658 Baden Av.,43400.00
25,Julie,King,2035552570,25593 South Bay Ln.,84300.00
26,Mory,Kentary,+81 06 6342 5555,1-6-20 Dojima,81200.00
27,Michael,Frick,2125551500,2678 Kingston Rd.,76400.00
28,Matti,Karttunen,90-224 8555,Keskuskatu 45,96500.00
29,Rachel,Ashworth,(171) 555-1555,Fauntleroy Circus,136800.00
...,...,...,...,...,...
92,Maurizio,Moroni,0522-556555,Strada Provinciale 124,121400.00
93,Akiko,Shimamura,+81 3 3584 0555,2-2-8 Roppongi,94400.00
94,Dominique,Perrier,(1) 47.55.6555,"25, rue Lauriston",95000.00
95,Rita,Müller,0711-555361,Adenauerallee 900,0.00
96,Sarah,McRoy,04 499 9555,101 Lambton Quay,86800.00
97,Michael,Donnermeyer,+49 89 61 08 9555,Hansastr. 15,77000.00
98,Maria,Hernandez,2125558493,5905 Pompton St.,67500.00
99,Alexander,Feuer,0342-555176,Heerstr. 22,0.00
100,Dan,Lewis,2035554407,2440 Pompton St.,49700.00
101,Martha,Larsson,0695-34 6555,Åkergatan 24,116400.00
102,Sue,Frick,4085553659,3086 Ingle Ln.,77600.00
103,Roland,Mendel,7675-3555,Kirchgasse 6,45300.00
104,Leslie,Murphy,2035559545,567 North Pendale Street,95400.00
105,Yu,Choi,2125551957,5290 North Pendale Street,39800.00
106,Martín,Sommer,(91) 555 22 82,"C/ Araquil, 67",104600.00
107,Sven,Ottlieb,0241-039123,Walserweg 21,0.00
108,Violeta,Benitez,5085552555,1785 First Street,85800.00
109,Carmen,Anton,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",0.00
110,Sean,Clenahan,61-9-3844-6555,7 Allen Street,60300.00
111,Franco,Ricotti,+39 022515555,20093 Cologno Monzese,34800.00
112,Steve,Thompson,3105553722,3675 Furth Circle,55400.00
113,Hanna,Moos,0621-08555,Forsterstr. 57,0.00
114,Alexander,Semenov,+7 812 293 0521,2 Pobedy Square,0.00
115,Raanan,"Altagar,G M",+ 972 9 959 8555,3 Hagalim Blv.,0.00
116,José Pedro,Roel,(95) 555 82 82,"C/ Romero, 33",65700.00
117,Rosa,Salazar,2155559857,11328 Douglas Av.,72600.00
118,Sue,Taylor,4155554312,2793 Furth Circle,60300.00
119,Thomas,Smith,(171) 555-7555,120 Hanover Sq.,43300.00
120,Valarie,Franco,6175552555,6251 Ingle Ln.,85100.00
121,Tony,Snowden,+64 9 5555500,Arenales 1938 3'A',110000.00

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, repeat the last query, but only get orders from customers that have a quantityOrdered value greater than 30. Sort the rows in ascending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!